
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>历史价格查询</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div>
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">.00</span>
    </div>
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>